<!-- Display GoatCounter pageviews -->
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const pv = document.getElementById('pageviews');

    if (pv !== null) {
      const uri = location.pathname.replace(/\/$/, '');
      const url = `https://{{ site.analytics.goatcounter.id }}.goatcounter.com/counter/${encodeURIComponent(uri)}.json`;

      fetch(url)
        .then((response) => {
          if (!response.ok) {
            throw new Error(`HTTP error! status: ${response.status}`);
          }
          return response.json();
        })
        .then((data) => {
          if (data && data.count) {
            const count = data.count.toString().replace(/\D/g, '');
            pv.innerText = new Intl.NumberFormat().format(count);
          } else {
            pv.innerText = '0';
          }
        })
        .catch((error) => {
          console.error('Error fetching GoatCounter pageviews:', error);
          pv.innerText = '0';
        });
    }
  });
</script>
